@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
:root {
  --main-bg-color: #2874f0;
}
* {
  margin: 0;
  padding: 0;
}
header {
  background-color: var(--main-bg-color);
  font-family: "Lato", sans-serif;
}
nav ul {
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav ul li {
  padding: 0 23px;
  list-style: none;
}
nav {
  display: flex;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: red;
  cursor: pointer;
  font-style: bold;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 23px;
  padding: 0 25px;
}
.search {
  display: flex;
  align-items: center;
}
.search input {
  width: 30vw;
  height: 23px;
  border-radius: 5px;
  margin: 0 16px 0 56px;
}
.search button {
  font-family: "Lato", sans-serif;
}
.container {
  min-height: calc(100vh - 58px - 12vh);
}
.slider {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}
.card h2 {
  margin: 0 0 0 45px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.card {
  max-width: 91vw;
  align-items: center;
}
.cards {
  margin: 0 35px;
  display: flex;
}
.card-item {
  margin: 3px 10px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}
.slider {
  width:35px 200px;
  overflow: hidden;
}

footer {
  height: 12vh;
  background-color: var(--main-bg-color);
  color: white;
  font-family: "Lato", sans-serif;
}

header,footer{
  width: 1600px;
}
footer{
  margin-top: 200px;
}
