.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 6px 7px;
    color: white;
    color: var(--main-bg-color);
    border-radius: 7px;
    cursor: pointer;
}
.my-2{
    margin: 26px 0;
}
.my-1{
    margin: 5px 0;
}
.text-align-center{
    text-align: center;
}